name: Build

on:
  push:
    branches: [ 'main', 'stable', 'macOS' ]
  pull_request:
    branches: [ 'main', 'stable', 'macOS' ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: macos-26
    strategy:
      matrix:
        destination: ['platform=iOS\ Simulator,OS=26.1,name=iPhone\ 17\ Pro\ Max', 'platform=watchOS\ Simulator,OS=26.1,name=Apple\ Watch\ Series\ 11\ \(46mm\)', 'platform=macOS CODE_SIGN_IDENTITY=""']
        scheme: ['CareKit', 'CareKitStore', 'CareKitUI', 'CareKitFHIR']
        exclude:
          - destination: 'platform=macOS'
            scheme: 'CareKit'
          - destination: 'platform=macOS'
            scheme: 'CareKitUI'
    steps:
      - uses: actions/checkout@v6
      - name: Set Xcode Version
        run: sudo xcode-select -s /Applications/Xcode_26.1.app
      - name: Build
        run: set -o pipefail && env NSUnbufferedIO=YES xcodebuild -verbose -workspace CKWorkspace.xcworkspace -scheme ${{ matrix.scheme }} -destination ${{ matrix.destination }} clean build test 2>&1 | xcbeautify --renderer github-actions
